<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Message</title>

    <script>
        window.addEventListener("load", () => {
            const form = document.getElementById('ajaxmessage-form');
            console.log(form)

            // Form event listener
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                const formData = new FormData(form);

                const messages = document.getElementById('messages');

                fetch('/newmessage', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "from": "ajaxmessage"
                    },
                    body: new URLSearchParams(...[formData.entries()]),
                })
                    .then(response => response.json())
                    .then(data => {

                        console.log(data)

                        
                        data.forEach(post => {
                            //Create row for message
                            const message = document.createElement('tr');

                            //id
                            const id = document.createElement('th');
                            id.scope = 'row';
                            id.innerText = post.id + 1;
                            message.appendChild(id);

                            // username
                            const username = document.createElement('td');
                            username.classList.add('col');
                            username.innerText = post.username;
                            message.appendChild(username);

                            // country
                            const country = document.createElement('td');
                            country.classList.add('col');
                            country.innerText = post.country;
                            message.appendChild(country);

                            // message
                            const messageBody = document.createElement('td');
                            messageBody.classList.add('col-8');
                            messageBody.innerText = post.message;
                            message.appendChild(messageBody);

                            // date
                            const date = document.createElement('td');
                            date.classList.add('col');
                            date.innerText = post.date;
                            message.appendChild(date);

                            messages.appendChild(message);

                        })

                    })
            })
                .catch(err => console.log(err));
        })

    </script>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <form id="ajaxmessage-form">
            <label for="username-input">Username</label>
            <input type="text" name="username" id="username-input" placeholder="Username" required>

            <label for="country-input">Country</label>
            <input type="text" name="country" id="country-input" placeholder="Country" required>

            <label for="message-input">Message</label>
            <textarea type="text" name="message" id="message-input" placeholder="Message" required></textarea>

            <button name="submit" id="submit-button">Send</button>

            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Country</th>
                        <th scope="col">Message</th>
                        <th scope="col-4">Date</th>
                    </tr>
                </thead>
                <tbody id="messages">

                </tbody>
            </table>
        </form>
</body>

</html>