<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>New Message</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <!--Center this div-->
    <div class="d-flex justify-content-center align-items-center align-self-center">
        <form action="" method="post" id="newmessage-form" class="d-inline-flex flex-column">
            <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" name="username" id="username-input" placeholder="Username" required>
            </div>

            <div class="form-group">
                <label for="country-input">Country</label>
                <input type="text" class="form-control" name="country" id="country-input" placeholder="Country" required>
            </div>


            <div class="form-group">
                <label for="message-input">Message</label>
                <textarea type="text" class="form-control" name="message" id="message-input" placeholder="Message" required></textarea>
            </div>

            <button name="submit" class="btn btn-primary" id="submit-button">Send</button>
        </form>
    </div>
    
        
</body>

</html>